// Site wrapper to flex out a sticky footer on screens with tall y axis
.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__content {
    flex: 1;
  }
}

// Reusable .section & .container
.section {
  padding: $m-gutter;

  &--main {
    padding: 2rem 1rem 4rem;
  }

  &--footer {
    max-width: 500px;
    margin: 0 auto;
  }
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}


// MAIN || .section--main component layout
.content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;

  &__left {
    flex-basis: 50%;
  }

  &__right {
    flex-basis: 50%;
  }

  > * + * {
    margin-right: $m-gutter * 4;
  }
}


// FOOTER || .section--footer component layout
.social-list {
  display: flex;
  align-items: center;
  justify-content: center;

  > * + * {
    margin-left: $m-gutter;
  }

  &__item {
    font-size: 1.5rem;
  }
}


// MEDIA QUERIES
@media (max-width: 700px) {
  // Single column layout for ||MAIN - components||
  .content {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    margin: 0 auto;

    & > * + * {
      margin: 0;
      margin-bottom: $m-gutter * 2;;
    }

    &__right {
      width: 100%;
    }
  }
}
