// Resets

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: $m-gutter 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}
