// styles for top navigation
.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // color: $c-brand-darker;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > * + * {
    margin-left: $m-gutter;
  }
}

// TOP-NAV - component layout||
.logo {
  margin: 0;
}
