// Colors
$c-brand: #a80301;
$c-brand-dark: darken($c-brand, 10%);
$c-brand-darker: darken($c-brand, 20%);
$c-accent: #dfc9a0;

// Measurements
$m-gutter: 1rem;



// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'top-nav';
@import 'components/main';
@import 'components/form';


body {
  background: $c-brand-dark;
  color: $c-accent;
  font-family: 'PANGOLIN', sans-serif;
}
