// Colors
$c-brand: #a80301;
$c-accent: lighten(#cfaf72, 12%);
$c-text: darken($c-brand, 10%);
$c-brand-darker: darken($c-brand, 20%);

// Measurements
$m-gutter: 1rem;



// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';

@import url('https://fonts.googleapis.com/css?family=Pangolin');
@import 'box-sizing';
@import 'resets';

body {
  background: $c-text;
  color: $c-accent;
  font-family: 'PANGOLIN', sans-serif;
}

.section {
  padding: $m-gutter;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

// Components
.content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 2rem);

  &__left {
    flex-basis: 50%;
  }

  &__right {
    flex-basis: 50%;
    font-family: 'PANGOLIN', sans-serif;
    // text-align: center;
  }

  > * + * {
    margin-right: $m-gutter * 4;
  }
}

.album {
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.25);
}


.heading {
  margin-bottom: $m-gutter * 2;
}

.logo {
  margin-top: 0;
  line-height: 1.5;
}

.input {
  width: 100%;
  height: 2.5rem;
  border: 0;
  border-radius: 0.1rem;
  background: $c-accent;
  color: $c-brand;
  font-family: 'PANGOLIN', sans-serif;
  font-size: 1.25rem;
  text-align: center;

  &:focus {
    border: 0.2rem solid $c-accent;
    outline: none;
  }
}

.btn {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: ($m-gutter / 2) $m-gutter;
  border: 0;
  border-radius: 0.1rem;
  background: $c-brand;
  color: $c-accent;
  font-family: 'Pangolin', sans-serif;
  font-size: 1.25rem;

  &:focus {
    top: 2px;
    outline: none;
  }
}

.title {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
}

.store-list {
  display: flex;

  &__item {
    font-size: 2.25rem;
  }

  > * + * {
    margin-left: $m-gutter;
  }
}
